.blog-post {
    margin: auto;
    margin-top: 50px;

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #ffffff;
    }

    .meta {
        color: #777;
        margin-bottom: 10px;
    }

    .imgReviews {
        width: 100%;
        height: 500px;
        margin-bottom: 10px;
        object-fit: cover;
        
    }

    p {
        line-height: 1.6;
    }
}

.botonReviews {
    border-radius: 3px;
    background-color: #00A859;
    border: none;
    color: #ffffff;
    height: 35px;
    width: 80px;

}

.infoReview {
    grid-area: auto;
    margin: auto;

}

.parrafoReview {
    
    color: #ffffff;
}

@media (max-width:350px) {
    .parrafoReview {
        font-size: 12px;
    }
}